@using Snipster.Data;
@using Snipster.Services;
@using Snipster.Components
@inject IJSRuntime JSRuntime
@inject MongoDbService _mongoDbService
@page "/collections"


<div class="page-layout">
    <!-- Left Section: Collection List with Create Button -->
    <div class="collection-list">

        
        <h4 class="collections-heading">Collections</h4>

        <button class="create-collection-btn" @onclick="ShowCreateCollectionModal">+</button>

        <ul>
            @foreach (var collection in collections)
            {
                <li class="collection-item" @onclick="() => LoadSnippets(collection.Id)">
                    @collection.Title
                </li>
            }
        </ul>
    </div>

    <div class="snippet-list">
        <h4>Snippets</h4>
        <button class="create-snippet-btn" @onclick="ShowSnippetFields">+</button> <!-- Button to add new snippet -->
        <ul>
            @if (snippets != null && snippets.Any())
            {
                @foreach (var snippet in snippets)
                {
                    <li class="snippet-item" @onclick="() => LoadSnippetDetails(snippet.Id)">
                        @snippet.Title
                    </li>
                }
            }
            else
            {
                <li>No snippets available</li>
            }
        </ul>
    </div>

    <!-- Right Section: Snippet Details/Editor -->
    <div class="snippet-details">
        @if (isAddingSnippet)
        {
            <!-- Fields for creating a new snippet -->
            <h4>Create New Snippet</h4>

            <EditForm Model="newSnippet" OnValidSubmit="HandleValidSubmitNew">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div>
                    <label for="title">Title:</label>
                    <InputText id="title" @bind-Value="newSnippet.Title" placeholder="Enter Title" />
                </div>

                <div>
                    <label for="content">Content:</label>
                    <textarea id="createContentId"
                    @bind="newSnippet.Content"
                              placeholder="Enter Content"
                              style="resize: none; width: 100%; min-height: 100px;"
                    @oninput="AdjustTextAreaHeight"></textarea>
                </div>

                <div>
                    <label for="collections">Collections:</label>
                    <select id="collections" @bind="selectedCollectionId">
                        @foreach (var collection in collections)
                        {
                            <option value="@collection.Id">@collection.Title</option>
                        }
                    </select>
                </div>

                <button type="submit">Add Snippet</button>
            </EditForm>
        }
        else if (selectedSnippet != null)
        {
            <!-- Display details of the selected snippet -->
            <h4>@selectedSnippet.Title</h4>
            <p>@selectedSnippet.Content</p>
        }
        else
        {
            <p>Select a snippet to view details.</p>
        }
    </div>
</div>



<!-- Modal for creating a new collection -->
<Modal @ref="createCollectionModal" Title="Create New Collection">
    <EditForm Model="newCollection" OnValidSubmit="async () => await HandleCreateCollection()">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Title:</label>
            <InputText @bind-Value="newCollection.Title" />
        </div>
        <div>
            <label>Public:</label>
            <InputCheckbox @bind-Value="newCollection.IsPublic" />
        </div>
        <button type="submit">Create</button>
    </EditForm>
</Modal>



@code {


}

<style>
   


</style>